{
   "attachments":[
      {
         {{#eq stateText "active (opened)"}}
            {{#eq priorityText "High"}}
               "color": "#ECB22E",
            {{else}}
               "color": "#E01E5A",
            {{/eq}}
         {{else}}
            "color": "#2EB67D",
         {{/eq}}
         "blocks":[
            {
               "type":"section",
               "text":{
                  "type":"mrkdwn",
                  "text":"*<{{ issuePageUrl }}|[{{ state }}] {{ accumulations.conditionDescription.[0] }}>*"
               }
            },
            {
               "type":"section",
               "fields":[
                  {
                     "type":"mrkdwn",
                     "text":"*Target:*\n<https://one.newrelic.com/redirect/entity/{{ entitiesData.ids.[0] }}|{{ entitiesData.names.[0] }}>"
                  },
                  {
                     "type":"mrkdwn",
                     "text":"*Notified:*\n${notified}"
                  },
                  {
                     "type":"mrkdwn",
                     "text":"*Condition:*\n<https://alerts.newrelic.com/accounts/{{ nrAccountId }}/policies/{{ labels.policyIds.[0] }}/conditions/{{ accumulations.conditionFamilyId.[0] }}/edit|{{ accumulations.policyName.[0] }}>"
                  },
                  {
                     "type":"mrkdwn",
                     "text":"*Policy:*\n<{{ policyUrl }}|{{ accumulations.policyName.[0] }}>"
                  },
                  {
                     "type":"mrkdwn",
                     "text":"*Priority:*\n{{ priority }}"
                  },
                  {
                     "type":"mrkdwn",
                     "text":"*Duration:*\n{{ issueDurationText }}"
                  }
               ]
            },
            {
               "type":"section",
               "text":{
                  "type":"mrkdwn",
                  "text":"*NRQL Query:*\n```{{accumulations.nrqlQuery.[0]}}```"
               }
            },
            {
               "type": "image",
               "image_url": {{json violationChartUrl}},
               "alt_text": "violationChartUrl"
            },
            {
               "type": "actions",
               "elements": [
                  {
                     "type": "button",
                     "text": {
                        "type": "plain_text",
                        "text": "Open Issue"
                     },
                     "url": {{ json issuePageUrl }}
                  }
                  {{#eq stateText "active (opened)"}}
                  ,{
                     "type": "button",
                     "text": {
                        "type": "plain_text",
                        "text": "Acknowledge Issue"
                     },
                     "style": "primary",
                     "url": {{ json issueAckUrl }}
                  },
                  {
                     "type": "button",
                     "text": {
                        "type": "plain_text",
                        "text": "Close Issue"
                     },
                     "style": "danger",
                     "url": {{ json issueCloseUrl }}
                  }
                  {{#if accumulations.runbookUrl }}
                     ,{
                        "type": "button",
                        "text": {
                           "type": "plain_text",
                           "text": "Open Runbook"
                        },
                        "url": {{ json accumulations.runbookUrl.[0] }}
                     }
                  {{else}}{{/if}}
                  {{else}}{{/eq}}
               ]
            },
            {
               "type": "divider"
            },
            {
               "type": "context",
               "elements": [
                  {
                     "type": "mrkdwn",
                     "text": "Sent from {{ workflowName }}"
                  }
               ]
            }
         ]
      }
   ]
}